name: Auto Merge

on:
  pull_request_target:

permissions:
  pull-requests: write

jobs:
  auto-merge:
    if: ${{ github.actor == 'dependabot[bot]' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Enable auto merge
        uses: ./
        with:
          github-token: ${{ github.token }}
          target: patch
